
/* Main Content - Form - Create New Request */
.sapUiRLContainerCont{margin-left:20px;}

/* General Form */
	.GeneralLbl{ max-width:200px; min-width:150px; /*width: 200px;*/ /* float:right; */ }
	.GeneralSelect{ min-width: 340px; /*width: 500px;*/ /* height:27px; */ /* float:right; */ } 
	.GeneralInput{ max-width:340px; min-width:200px; /*width: 300px;*/ /* height:27px; */ /* float:right; */ } 
	.GeneralInputQuantity { max-width:100px; min-width:100px; /* height:27px; */ /* float:right; */ } 
	.GeneralSelectQuantity { max-width:100px; min-width:100px;*/ /* height:27px; */ /* float:right; */ } 
	.Panel_General .sapMPanelContent{padding:0 !important}

	.GeneralInputQuantity input{ text-align:right; } 
	
	#SForm_General{padding: 0 !important; margin-top: -18px !important}
	#Input_Quantity-cont0_0{width:100px !important; min-width:100px !important}
	#Input_QuantityDD-cont0_1{width:200px !important; min-width:200px !important}
	
	/*.sapUiRFLContainerContent .sapUiRFLPaddingClass {width:100px !important; min-width:100px !important} */

/* Warranty Form */
	.WarrantyLbl{ max-width:200px; min-width:150px; /*width: 200px;*/ /* float:right; */ }
	.WarrantySelect{ min-width: 340px; /*width: 500px;*/ /* height:27px; */ /* float:right; */ } 
	.WarrantyInput{ max-width:340px; min-width:200px; /*width: 300px;*/ /* height:27px; */ /* float:right; */ } 
	.Panel_Warranty .sapMPanelContent{padding:0 !important}

	#SForm_Warranty{padding: 0 !important; margin-top: -18px !important; /*margin-left: 0px !important*/}

/* Notes Form */
	.NotesLbl{ max-width:200px; min-width:150px; /*width: 200px;*/ /* float:right; */ }
	.NotesTextArea{ max-width:364px; min-width:200px; /*width: 500px;*/ /* height:27px; */ /* float:right; */ } 
	.Panel_Notes .sapMPanelContent{padding:0 !important}
	
	#PhotoUploadA-fu_input{ height: 40px !important; width: 280px !important}
	#PhotoUploadB-fu_input{ height: 40px !important; width: 280px !important}
	
	/*#__label4-cont0_0{margin-top: 25px;}
	#__label5-cont0_0{margin-top: 10px;}
	#__label6-cont0_0{margin-top: 10px;}*/
	
	#__button8{ height: 40px !important; width: 80px !important }
	#__button9{ height: 40px !important; width: 80px !important }
	
	#SForm_Notes{padding: 0 !important; margin-top: -18px !important; /*margin-left: 0px !important*/}